/* body {
  background-image: url("https://images.unsplash.com/photo-1505919686840-88ef2bc05b85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */

/* RevU Page */

.link:hover {
  cursor:pointer;
}

.sort-buttons {
  text-align: center;
}


.remove:hover {
  cursor: pointer;
}

.revu-header {
  font-family: 'Questrial', sans-serif;
  color: white;
  font-size: 8rem;
  margin-top: 4rem;
}

.revu-tagline {
  font-family: 'Questrial', sans-serif;
  color: white;
  font-size: 1.5rem;
}

.revu-description {
  font-family: 'Questrial', sans-serif;
  color: white;
  font-size: 1.3rem;
}

.revu-background {
  background-image: url("https://images.unsplash.com/24/DSC02021.JPG?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80");
  background-color: #19647E;
  height: fill;
  background-size: cover;
  margin-top: -1rem;
  text-align: center;
  padding-top: 50px;
  background-repeat: no-repeat;
}

.logo {
  font-size: 6rem;
}

li {
  text-decoration: none;
}

.college-info-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 10px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.college-container {
  color: black;
  font-weight: bold;
  text-align: center;
}

.info-content {
  color:white;
  margin-left: 3rem;
}

.nav-list {
  text-align: left;
}

.nav-links {
  display: inline-block;
  margin: .5rem;
  text-decoration: none;
  color: black;
}

.search-nav {
  text-align: right;
}

.ui.college.container {
  margin-top: -3rem;
}

.college-search-container {
  margin-top: 10rem;
}
.search-colleges-wrapper {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-right: 20rem;
  margin-left: 20rem;
}

.search-colleges-form {
  width: auto;
}

.alphabet-wrapper {
  text-align: center;
}

.letters {
  display: inline-block;
  text-decoration: none;
  margin: .4rem;
  color: black;
  margin-bottom: 2rem;
}

.dropdowns {
  display: flex;
  flex-wrap: wrap;
}

.state-dropdown {
  margin-left: 45%;
  margin-right: 1rem;
}

/* LOG IN SING UP FORM */


textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 1rem;
}

.ui.large.buttons {
  margin-top: 2rem;
}

.form {
  background:rgba($form-bg,.9);
  padding: 100px;
  margin:40px auto;
  margin-left: 5rem;
  margin-right: 5rem;
}


.college-by-letter {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-left: 8%;
}

.card-wrapper {
  margin: auto;
  margin-bottom: 4rem;
  width: 25%;
}

.ui.link.cards {
  width: 300px;
  height: 300px;
}

.selected-college-page {
  max-width: 80%;
  margin: auto;
  margin-top: 4rem;
}

.college-img-acc {
  display: flex;
  flex-wrap: wrap;
}

.img-container {
  text-align: center;
  /* width: 50%; */
  position: right;
}


.college-card-title {
  position: relative;
  top: 100px;
  z-index: 2;
  color: white;
  letter-spacing: 1px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  padding: 25px
}

.column {
  margin-top: -6rem;
}

.review-button {
  position: relative;
  /* z-index: 2; */
  padding: 10px;
}
.review-wrapper {
  text-align: center;
}
.review-header {
  margin-top: 5rem;
}

.review-icons {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 3rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

.review-item {
  width: 25%;
  min-width: 300px;
  margin-bottom: 2rem;
}

.icon.review {
  margin: 2rem;
  display: inline-block;
}

.icon-label {
  font-size: 1.5rem;
}

.college-all-reviews-container {
  margin: 4rem;
}

.new-review-button {
  text-align: center;
  margin: 2rem;
}

.review-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  text-align: center;
  background: white;
  width: 40%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.modal-content {
  width: 90%;
  margin: 5%;
  /* height: 80%;
  height: 300px; */
  overflow-y: scroll;
  border: 0;
}

.dot {
  text-align: center;
  margin-top: 3rem;
  /* margin-right: 4rem; */
  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border-style: outset;
  margin-right: 4rem;
}
.circle-rating {
  font-size: 2.8rem;
}

.review-circle {
  text-align: center;
  margin-left: 3rem;
  /* margin-right: 4rem; */
  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border-style: outset;
}

.review-form-header {
  margin-left: 1rem;
  margin-right: 1rem;
}

.profile-wrapper {
  margin-top: 4rem;
}

.single-review-container {
  margin-left: 8rem;
  margin-right: 8rem;
}

.profile-header {
  text-align: left;
  margin: auto;
}

.favorite-colleges {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
  margin-left: 0%;
}

.favorite-card {
  margin: 5rem;
}

.ui.primary.basic.button.add-to-favorites {
  margin-left: 2rem;
}
.ui.basic.blue.button.back {
  margin-left: .5rem;
}
