/* body {
  background-image: url("https://images.unsplash.com/photo-1505919686840-88ef2bc05b85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */



/* RevU Page */

.link:hover {
  cursor:pointer;
}

.sort-buttons {
  text-align: left;
  margin-left: 9rem;
}

.sort-reviews {
  box-shadow: 0 2px 2px black;
  margin-top: 1rem;
}

.remove:hover {
  cursor: pointer;
}

.revu-background {
  background-image: url("https://images.unsplash.com/photo-1519664993241-d7c8f0ae7b39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80");
  background-repeat: no-repeat;
  background-size: fill;
  color: white;
  padding: 8rem 0 25rem 5rem;
  margin-top: -1rem;
}

.revu-header {
  font-size: 8rem;
}

.revu-tagline, .revu-description {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.revu-summary {
  /* margin: 0 10rem 0 10rem; */
  background-image: linear-gradient(to right, white, #02111B);
}

.revu-card-info, .revu-card-favorites, .revu-card-reviews {
  display: flex;
  padding: 5em 5em 0em 5em;
  font-size: 1.2rem;
}

.card-contents-info {
  width: 50%;
  padding: 5em;
}

.revu-card-info-pic {
  width: 50%;
  background-image: url('https://i.imgur.com/tdBoXuF.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-contents-favorites {
  width: 50%;
  padding: 5em;
  color: white;
}

.revu-card-favorites-pic {
  width: 50%;
  background-image: url('https://i.imgur.com/msOSOUq.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-contents-reviews {
  width: 50%;
  padding: 5em;
}

.revu-card-reviews-pic {
  width: 50%;
  background-image: url('https://i.imgur.com/SLYb6Fb.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* .circular.ui.black.icon.button.get-started {
  padding: 1.5rem;
} */

/* .revu-header {
  color: #02111B;
  font-size: 8rem;
}

.revu-tagline {
  color: #02111B;
  font-size: 1.5rem;
}

.revu-description {
  color: #02111B;
  font-size: 1.3rem;
}


.revu-background {
  margin: 4rem 8rem;
  background-image: linear-gradient(to right, #82BA92, #02111B);
  padding: 100px;
  box-shadow: 1px 5px #888888;
  border-radius: 15px;
}

.revu-summary {
  margin: 0 5rem;
}
.revu-card {
  width: 33%;
  padding: 50px 50px;
  margin: 2%;
  font-size: 20px;
  border: 1px solid #888888;
  border-radius: 10px;
  box-shadow: 0 3px 1px #888888;
}

.revu-card li {
  margin: 10px 0;
} */

.logo {
  font-size: 6rem;
}

li {
  text-decoration: none;
}

.college-info-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 10px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.college-container {
  color: black;
  font-weight: bold;
  text-align: center;
}

.info-content {
  color:white;
  margin-left: 3rem;
}

.nav-list {
  text-align: left;
}

.nav-links {
  display: inline-block;
  margin: .5rem;
  text-decoration: none;
  color: black;
}

.search-nav {
  text-align: right;
}

.ui.college.container {
  margin-top: -3rem;
}

.college-search-container {
  margin-top: 10rem;
}
.search-colleges-wrapper {
  text-align: center;
  /* margin-top: 10rem; */
  margin-bottom: 2rem;
  margin-right: 20rem;
  margin-left: 20rem;
}

.search-colleges-form {
  width: auto;
}

.alphabet-wrapper {
  text-align: center;
  font-size: 20px;
}

.letters {
  display: inline-block;
  text-decoration: none;
  margin: .4rem;
  color: black;
  margin-bottom: 2rem;
}

.dropdowns {
  text-align: center;
  margin-bottom: 5rem;
}


/* LOG IN SING UP FORM */


textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 1rem;
}

.ui.large.buttons {
  margin-top: 2rem;
}

.form {
  background:rgba($form-bg,.9);
  padding: 100px;
  margin:40px auto;
  margin-left: 5rem;
  margin-right: 5rem;
}

.college-wrapper {
  align: center;
}

.college-by-letter {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-left: 11%;
}

.card-wrapper {
  margin: auto;
  margin-bottom: 4rem;
  width: 25%;
}

.ui.inverted.accordion {
  display: flex;
  flex-wrap: wrap;
}

.college-stats {
  width: 25%;
  font-size: 1.3rem;
}

.race-demo-stat {
  width: 37.5%;
}

.gender-demo-stat {
  width: 37.5%;
}

.chart-title {
  font-size: 1.3rem;
  margin-top: .5rem;
}

.ui.link.cards {
  width: 300px;
  height: 300px;
}

.selected-college-page {
  max-width: 80%;
  margin: auto;
  margin-top: 4rem;
}

.college-img-acc {
  display: flex;
  flex-wrap: wrap;
}

.img-container {
  text-align: center;
  /* width: 50%; */
  position: right;
}


.college-card-title {
  position: relative;
  top: 100px;
  z-index: 2;
  color: white;
  letter-spacing: 1px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  padding: 25px
}

.column {
  margin-top: -6rem;
}

.review-button {
  position: relative;
  /* z-index: 2; */
  padding: 10px;
}
.review-wrapper {
  text-align: center;
}
.review-header {
  margin: 3rem 8rem;
  background-image: linear-gradient(to right, #82BA92, #02111B);
  padding: 100px;
  box-shadow: 1px 5px #888888;
  border-radius: 15px;
}

.review-icons {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 3rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

.review-item {
  width: 25%;
  min-width: 300px;
  margin-bottom: 2rem;
}

.icon.review {
  margin: 2rem;
  display: inline-block;
}

.icon-label {
  font-size: 1.5rem;
}

.college-all-reviews-container {
  margin: 4rem;
}

.ui.button.new-review {
  /* text-align: center; */
  /* margin: 2rem; */
  box-shadow: 0 2px 2px black;
  margin-top: 1rem;
}

.review-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  text-align: center;
  background: white;
  width: 40%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.modal-content {
  width: 90%;
  margin: 5%;
  /* height: 80%;
  height: 300px; */
  overflow-y: scroll;
  border: 0;
}



.review-circle {
  text-align: center;
  margin-left: 3rem;
  /* margin-right: 4rem; */
  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border-style: outset;
}

.review-form-header {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* .profile-wrapper {
  margin-top: -1rem;
  background-image: url("https://images.unsplash.com/photo-1529917365646-d9b0d968d713?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
} */


.single-review-container {
  margin-left: 8rem;
  margin-right: 8rem;
}

.profile-header {
  text-align: left;
  margin: auto;
}

.favorite-colleges {
  /* background-image: url("https://images.unsplash.com/photo-1529917365646-d9b0d968d713?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80"); */
  /* background-attachment: fixed; */
  /* height: fill; */
  padding: 5rem;
  margin-top: 3rem;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .wrapper {
  margin: -1rem;
  background-image: url("https://images.unsplash.com/photo-1510353157186-4e5fec7beb6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80");
  background-attachment: fixed;
  background-size: cover;
} */


/* .selected-college-category-review-container {
  margin: -1rem;
  background-image: url("https://images.unsplash.com/photo-1510353157186-4e5fec7beb6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* .selected-college-review-container {
  margin: -1rem;
  background: url("https://images.unsplash.com/photo-1510353157186-4e5fec7beb6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: fill;
}

.selected-college-container {
  margin: -1rem;
  background-image: url("https://images.unsplash.com/photo-1510353157186-4e5fec7beb6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
} */

.favorite-card {
  margin: 5rem;
}

.ui.button {
  background-color: #82BA92;
  color: white;
}

.ui.primary.basic.button.add-to-favorites {
  margin-left: 2rem;
}
.ui.button.back {
  margin-left: 1rem;
  background-color: #02111B;
  color: white;
}

.ui.button.reviews {
  background-image: linear-gradient(to right, #02111B, #82BA92);
  color: white;
}

.ui.button.add-to-favorites {
  background-image: linear-gradient(to right, #82BA92, #02111B);
  color: white;
}

.ui.left.pointing.label {
  background-color: #82BA92;
  color: white;
}
